
# Google Cloud / Vertex AI (REQUIRED for Gemini)
GOOGLE_CLOUD_PROJECT=prject_name
GCP_PROJECT=project_id
VERTEX_AI_LOCATION=us-central1
LOCATION=us-central1

# Database
DATABASE_URL=your_db_url

# App Settings
ENV=development
DEBUG=true